<div id="sidebar" style="width:180px;" class="floatingBox">
	<h3>Other Links:</h3>
	<br />
	<ul>
		<li><a href="http://www.math.ku.edu/" target="_blank">KU Mathematics Department</a></li>
		<br />
		<li><a href="http://www.math.ku.edu/studentorgs/gso/" target="_blank">KU Mathematics GSO</a></li>
		<br />
		<li><a href="https://www.facebook.com/groups/2204547131/" target="_blank">KU Ki-Aikido Club</a></li>
		<br />
		<li><a href="http://www.ams.org/programs/studentchapters" target="_blank">AMS Graduate Student Chapters</a></li>
		<br />
	</ul>
</div>