---
layout: default
title: Cody E. Clifton - Math 121 Fall 2013 - HW Policy
bodyid: fa2012math121hwpol
---

{% include courses/fa2012math121_sub-header.html %}

<div id="main">
  <table width="960" height="500" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="730" align="left" valign="top" style="border-right: 1px dotted #c8c8c8;">
        <div style="width:680px;" class="floatingBox">
          <h3>Homework Policy:</h3>
          <br />
            <div>
            <p><strong>General:</strong></p>
            <ul>
              <li>The course is divided into four units, with an exam marking the conclusion of each. </li>
              <br />
              <li>Homework will be collected regularly. Assignments and their due dates are subject to change and <em>should be checked daily</em>. </li>
              <br />
              <li>Students are encouraged to seek answers to most of their  questions during the instructor's office hours, since only a limited number of homework problems will be reviewed during class meetings. </li>
              <br />
              <li>Bonus quizzes may be given without advance notice, but will <em>usually</em> be announced at least one class day in advance. Students may expect one such quiz per unit.</li>
              <br />
              <li>Class attendance is an important component of success in the course! Each unit, <em>up to 10 bonus points will be awarded for attendance</em>. If a student is unable to attend class due to illness or a medical/family emergency, he/she should contact the instructor immediately to arrange for an excused absence. A student is permitted<em> one unexcused absence  per unit without penalty</em>; each additional unexcused absence will incur a deduction of 5 bonus attendance points out of the possible 10.</li>
              <br />
              <li>Participation is strongly encouraged! A student's participation will be noted if he/she regularly:<br>
              </li>
              <ul>
                <li>asks/answers questions in class</li>
                <br />
                <li>politely draws attention to and/or corrects mistakes</li>
                <br />
                <li>goes to the board to work on problems as requested by the instructor</li>
                <br />
                <li><em>comes to class and stays awake!</em></li>
                <br />
              </ul>
            </ul>
            </div>
            <div>
            <p><strong>Format:</strong></p>
            <ul>
              <li>A student's name should appear in the top right corner of <em>each</em> page of his/her homework, and should be written in the form &quot;last name, first name.&quot; </li>
              <br />
              <li>All pages must be stapled together, and the paper may not be torn from a spiral notebook so as to leave frayed edges. Note that simply folding the corners of several pages together is not an acceptable substitute for the use of a staple.</li>
              <br />
              <li>Please write legibly to ensure accurate grading!</li>
              <br />
            </ul>
            </div>
            <div>
            <p><strong>Exceptions:</strong></p>
            <ul>
              <li>Late homework/quizzes will not be accepted.</li>
              <br />
              <li>Rare exceptions may be made <em>only</em> if the student has
            contacted the instructor in advance to make other arrangements.</li>
              <br />
              <li>The lowest homework score from each unit will be dropped.</li>
              <br />
            </ul>
            </div>
            <div>
            <p><strong>Grading:</strong></p>
            <ul>
              <li>Each homework assignment is worth 15 points. Three problems,
            each worth up to 3 points each, will be graded on accuracy. The
            remaining problems will be graded on completion. That is, the 15
            possible points are separated into 9 possible points for accuracy and 6
            possible points for completion.
              </li>
              <br />
              <li>For each unit, a student's homework scores will be
            totaled and scaled to 25 points. Thus, a maximum total of 100
            points on homework throughout the semester is possible, accounting for
            about 12% of the final grade.</li>
              <br />
              <li>Each bonus quiz is worth 5  points. Every quiz problem will
            be graded on accuracy, and the point-value of each problem will vary
            according to the total number of problems on the quiz.</li>
              <br />
              <li>For the entire semester, totals of 20 bonus quiz points and  40 bonus  attendance points (see above) are available. These 60 possible bonus points have the potential to raise a student's final grade by over half a letter, and thus should not be taken lightly!</li>
              <br />
            </ul>
            </div>
            <div>
            <p><strong>Reference materials:</strong></p>
            <ul>
              <li><span style="vertical-align: top;"><a
             href="files/2012fa121gatewayProblems.pdf">Gateway exam
            problems</a>. These are not assigned nor collected, but they are worth
            taking a look at and starting to practice.</span></li>
              <br />
              <li><a href="files/2012fa121calculatorBasics.pdf">Graphing calculator
            basics</a>. Read this if you are unfamiliar/unexperienced
            with the TI-83/84 calculators.</li>
              <br />
              <li><a href="files/2012fa121mathSymbols.pdf">Symbols used in Math
            121</a>. Most of these will be introduced throughout the semester.
            If you ever forget what a particular symbol represents, look it up here.</li>
              <br />
            </ul>
            <div>
         </div>
      </td>
      <td width="230" align="right" valign="top">
        <div style="width:180px;" class="floatingBox">
		      {% include sidebar.html %}
        </div>
	  </td>
    </tr>
  </table>
</div><!--end main -->