<div id="footerTop"></div>

<div id="footerWrapper">
  <div id="footer">
    <div id="footerModDate">
      Powered by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.
      <!-- Last modified: -->
    </div>

    <div id="footerMenu">
      <ul>
        <li>Navigation: </li>
        <li><a href="/">Home</a></li>
        {% for section in site.data.site_struct %}
          <li><a {% if section.name == "academics" %}href="/{{ section.name }}/"{% else %}href="/temp/under_construction.html"{% endif %}>{{ section.nav }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </div><!--end footer --> 
</div><!--end footerWrapper -->

<div id="footerBottom"></div>