<div style="width:400px; height:600px; overflow:scroll;" class="floatingBox">
	<h3>Recent Projects:</h3>
	<br>
  <strong>September 3, 2015</strong>
  <ul>
    <li>
      Photos from France and Italy are now on <a href="https://www.flickr.com/photos/cliftoce/" target="_blank">Flickr</a>.<br>
      <div style="padding-top:4px;">
        <a href="https://www.flickr.com/photos/cliftoce/sets/72157658073995362"><img src="https://farm1.staticflickr.com/590/20890456240_c9892e63ae_z.jpg" alt="Paris Skyline" width="99%" class="photoShadow"/></a>
      </div>
    </li>
    <br>
  </ul>
  <br>
	<strong>August 26, 2015</strong>
	<ul>
		<li>
      Two new <a href="design/shirts">shirt designs</a>.<br>
      <div style="padding-top:4px;">
        <a href="design/shirts/2015-08-26_Kingfisher.png"><img src="design/shirts/2015-08-26_Kingfisher.png" alt="Kingfisher Shirt Comp" width="49%" class="photoShadow"/></a>
        <a href="design/shirts/2015-08-25_KC_Beefs.png"><img src="design/shirts/2015-08-25_KC_Beefs.png" alt="KC Beefs Shirt Comp" width="49%" class="photoShadow"/></a>
      </div>
    </li>
    <br>
	</ul>
  <br>
  <strong>March 17, 2015</strong>
  <ul>
    <li>
      Photos from Colorado Springs are now on <a href="https://www.flickr.com/photos/cliftoce/" target="_blank">Flickr</a>.<br>
      <div style="padding-top:4px;">
        <a href="https://www.flickr.com/photos/cliftoce/sets/72157650957665497"><img src="https://farm9.staticflickr.com/8673/16824306116_a09269a55c_z.jpg" alt="Garden of the Gods" width="99%" class="photoShadow"/></a>
      </div>
    </li>
    <br>
  </ul>
	<br>
  <strong>January 11, 2015</strong>
  <ul>
    <li>
      ErgoDox keyboard and <a href="woodworking/headphones">custom headphones</a> are done.<br>
      <div style="padding-top:4px;">
        <a href="woodworking/headphones/2015-01-11_Ergodox_and_headphones.jpg"><img src="woodworking/headphones/2015-01-11_Ergodox_and_headphones.jpg" alt="Ergodox and Headphones" width="49%" class="photoShadow"/></a>
        <a href="woodworking/headphones/2015-01-11_removable_earpads.jpg"><img src="woodworking/headphones/2015-01-11_removable_earpads.jpg" alt="Headphones" width="49%" class="photoShadow"/></a>
      </div>
    </li>
    <br>
  </ul>
</div>