<div style="width:400px; height:600px; overflow:scroll;" class="floatingBox">
	<h3>Recent Projects:</h3>
	<br>
	<strong>August 26, 2015</strong>
	<ul>
		<li>
      Two new <a href="design/shirts">shirt designs</a>.<br>
      <div style="padding-top:4px;">
        <a href="design/shirts/2015-08-26_Kingfisher.png"><img src="design/shirts/2015-08-26_Kingfisher.png" alt="2015-08-26_Kingfisher.png" width="49%" class="photoShadow"/></a>
        <a href="design/shirts/2015-08-25_KC_Beefs.png"><img src="design/shirts/2015-08-25_KC_Beefs.png" alt="2015-08-25_KC_Beefs.png" width="49%" class="photoShadow"/></a>
      </div>
    </li>
    <br>
	</ul>
  <br>
  <strong>March 17, 2015</strong>
  <ul>
    <li>
      Photos from Colorado Springs trip are now on <a href="https://www.flickr.com/photos/cliftoce/albums/72157650957665497" target="_blank">Flickr</a>.<br>
      <div style="padding-top:4px;">
        <a href="img/projects/2015-03-17_Garden_of_the_Gods.jpg"><img src="img/projects/2015-03-17_Garden_of_the_Gods.jpg" alt="2015-03-17_Garden_of_the_Gods.jpg" width="99%" class="photoShadow"/></a>
      </div>
    </li>
    <br>
  </ul>
	<br>
  <strong>January 11, 2015</strong>
  <ul>
    <li>
      ErgoDox keyboard and <a href="woodworking/headphones">custom headphones</a> are done.<br>
      <div style="padding-top:4px;">
        <a href="img/projects/2015-01-11_Ergodox_and_headphones.jpg"><img src="img/projects/2015-01-11_Ergodox_and_headphones.jpg" alt="2015-01-11_Ergodox_and_headphones.jpg" width="49%" class="photoShadow"/></a>
        <a href="woodworking/headphones/2015-01-11/removable_earpads.jpg"><img src="woodworking/headphones/2015-01-11/removable_earpads.jpg" alt="2015-01-11_Headphones.jpg" width="49%" class="photoShadow"/></a>
      </div>
    </li>
    <br>
  </ul>
</div>