<div id="sidebar">
<h3>Contact Information:</h3>
<br />
<p><strong>Cody E. Clifton, Ph.D.</strong>
<br />
<br />
<a href="http://www.ku.edu/" target="_blank">The University of Kansas</a> <br />
<a href="http://www.math.ku.edu/" target="_blank">Department of Mathematics</a>
<br />
<br />
405 Snow Hall <br />
1460 Jayhawk Blvd <br />
Lawrence,  KS  66045-7594 
<br />
<br />
<!--
<strong>Office</strong>: 543 Snow Hall <br />
<strong>Hours</strong>: MW 9 - 9:50 a.m. <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; or by appointment
<br />
<br />
<strong>Email</strong>: <a href="mailto:cclifton@ku.edu"> cclifton@ku.edu</a>
<br />
<br />
-->
<strong><a href="http://www.linkedin.com/in/codyeclifton" target="_blank">LinkedIn</a></strong>
</p>
</div>