{% if page.section == "home" %}
<div id="homeTitle">
  <div id="homeTitleContent">
    <table width="960" height="320" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="730" id="homeTitleText">
          <div style="width:690px;">
            <p style="font-size:19px">I am an experienced educator, organizer, and leader, with a doctorate in mathematics and a broad technical skill set involving programming and web development. I also enjoy a variety of hobbies and activities, some of which are described on this site as indicated by the navigation links in the header above.</p>
          </div>
        </td>
        <td width="230" align="right" valign="center">
          <div style="width:200px;">
            <img src="img/Clifton_2015.jpg" alt="Cody Clifton" width="200px" class="photoShadow" />
          </div>
        </td>
      </tr>
    </table>
  </div><!--end homeTitleContent -->
</div><!--end homeTitle -->
{% else %}
<div id="interiorTitle">
  <div id="interiorTitleContent">
    <table width="960" border="0" cellpadding="0" cellspacing="0">
      <tr>
        {% for section in site.data.site_struct %}
        {% if section.name == page.section %}
        <td><h1><a {% if page.subsection == nil %}class="subheaderActive"{% endif %} href="/{{ section.name }}/">{{ section.title }}</a></h1></td>
        <td id="interiorTitleMenu">
          {% for subsection in section.subsections %}
          <a {% if subsection.name == page.subsection %}class="subheaderActive"{% endif %} href="/{{ page.section }}/{{ subsection.name }}/">{{ subsection.title }}</a>{% if subsection.last != "y" %} &nbsp;&nbsp;|&nbsp;&nbsp; {% endif %}
          {% endfor %}
          {% if section.name == "academics" %} &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/academics/Cody_Clifton_CV.pdf" target="_blank">CV</a>{% endif %}
        </td>
        {% endif %}
        {% endfor %}
      </tr>
    </table>
  </div><!--end interiorTitleContent -->
</div><!--end interiorTitle -->
{% endif %}

<div id="subheaderBottom"></div>