---
layout: default
title: Cody E. Clifton - Academics
bodyid: academics
---

{% include academics_sub-header.html %}

<div id="main">
  <table width="960" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="730" align="left" valign="top" style="border-right: 1px dotted #c8c8c8;">
        <div style="width:680px;" class="floatingBox">
          <h3>Academics Index:</h3>
          <br />
          <strong><a href="education">Education</a></strong><br /><br />
          <ul>
                <li><a href="education#degrees">Degrees</a></li>
                <br />
                <li><a href="education#awards">Awards</a></li>
                <br />
          </ul>
          <strong><a href="outreach">Outreach</a></strong><br /><br />
          <ul>
                <li><a href="outreach#past">Past Events</a></li>
                <br />
          </ul>
          <strong><a href="research">Research</a></strong><br /><br />
          <ul>
                <li><a href="research#interests">Interest Areas</a> </li>
                <br />
                <li><a href="research#publications">Publications</a> </li>
                <br />
                <li><a href="research#presentations">Presentations and Lectures</a></li>
                <br />
                <li><a href="research#conferences">Conferences and Workshops Attended</a> </li>
                <br />
          </ul>
          <strong><a href="teaching">Teaching</a></strong><br /><br />
          <ul>
                <li><a href="teaching#past">Past Courses</a> </li>
                <br />
                <li><a href="teaching#other">Other Duties</a> </li>
                <br />
          </ul>
          <strong><a href="technology">Technology Skills</a></strong><br /><br />
          
          <!--
          
          <ul>
                <li> LaTeX </li>
                <br />
                <li> Matlab </li>
                <br />
                <li> Mathematica and Maple </li>
                <br />
                <li> C++ Programming </li>
                <br />
                <li> HTML Web Design </li>
                <br />
          </ul>
          
          -->
          
          <a href="Cody_Clifton_CV.pdf" target="_blank"><strong>CV</strong></a>
        <br />
        <br />
        </div>
      </td>
      <td width="230" align="right" valign="top">
      	<div style="width:180px;" class="floatingBox">
          {% include sidebar.html %}
        </div>
	  </td>
    </tr>
  </table>
</div><!--end main -->