<div id="homeTitle">
  <div id="homeTitleContent">
    <table width="960" height="320" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="730" id="homeTitleText">
          <div style="width:690px;">
            <p style="font-size:19px">Cody E. Clifton recently completed his Ph.D. in <a href="http://www.math.ku.edu/" target="_blank">Mathematics</a> at <a href="http://www.ku.edu/" target="_blank">The University of Kansas (KU)</a>.  His doctoral research, under the supervision of <a href="http://www.math.ku.edu/ksacg/Bozenna.html" target="_blank">Professor Bozenna Pasik-Duncan</a>, focused on parameter estimation and adaptive control techniques applied to a stochastic system model for PageRank. [<a href="/academics/#bio">short bio</a>]</p>
          </div>
        </td>
        <td width="230" align="right" valign="center">
          <div style="width:200px;">
            <img src="img/Clifton_2015.jpg" alt="Cody Clifton" width="200px" class="photoShadow" />
          </div>
        </td>
      </tr>
    </table>
  </div><!--end homeTitleContent -->
</div><!--end homeTitle -->

<div id="subheaderBottom"></div>