---
layout: default
title: Cody E. Clifton - Academics - Outreach
bodyid: outreach
---

{% include academics_sub-header.html %}

<div id="main">
  <table width="960" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="730" align="left" valign="top" style="border-right: 1px dotted #c8c8c8;">
        <div style="width:680px;" class="floatingBox">
          <h3><a name="outreach">Outreach:</a></h3>
          <br />
          Every April is <a href="http://www.mathaware.org" target="_blank">Mathematics Awareness Month (MAM)</a>.   From 2012 through 2015, I organized and assisted with <a href="http://math.ku.edu/info/mathawareness/" target="_blank">competitions and activities</a> for K-12 students to raise mathematics awareness.<br />
          <br />
          As a member of the <a href="http://www.math.ku.edu/ksacg/CSS/tcce.html" target="_blank">IEEE CSS Technical Committeee on Control Education</a>, the <a href="http://www.math.ku.edu/ksacg/AACC/tce.html" target="_blank">AACC Technical Committee on Education</a>, and the <a href="http://tc.ifac-control.org/9/4" target="_blank">IFAC Technical Committee 9.4 on Control Education</a>, I also assisted with the recurring "Beauty of Controls" workshop for high school students and teachers.
          <br />
          <br />
        </div>
        <br />
        <br />
        <hr style="width:700px; border:dotted #c8c8c8;; border-width:1px 0 0 0; height:0;line-height:0px;font-size:0;margin:0;padding:0;">
        <br />
        <br />
        <div style="width:680px;" class="floatingBox">
          <h3><a name="past">Events:</a></h3>
          <br />
          <strong>April 15 and April 22, 2015.</strong><br />
          Coordinated the "Students + Workshops = Success + Fun" workshops for 5th grade students from <a href="http://www.math.ku.edu/ksacg/MAM/2015/workshop_04-15-15.html" target="_blank">Broken Arrow Elementary School (April 15)</a> and <a href="http://www.math.ku.edu/ksacg/MAM/2015/workshop_04-22-15.html" target="_blank"> Cordley Elementary School (April 22)</a>, held in conjunction with <a href="http://www.mathaware.org/mam/2015/" target="_blank">Mathematics Awareness Month</a>, Lawrence, KS.<br />
          <br />
           <strong>December 15, 2014.</strong><br />
           Asssisted with "<a href="http://www.math.ku.edu/ksacg/workshops/CDC_2014/cdc2014workshop.html" target="_blank">The Power, Beauty and Excitement of the Cross-Boundaries Nature of Control, a Field that Spans Science, Technology, Engineering and Mathematics (STEM)</a>" workshop for high school students and teachers, held in conjunction with the <a href="http://control.disp.uniroma2.it/CDC2014/" target="_blank">53rd IEEE Conference on Decision and Control</a>, Los Angeles, CA.<br />
			<br />
          <strong>August 29, 2014.</strong><br />
          Assisted with "<a href="http://www.math.ku.edu/ksacg/workshops/IFAC_2014/ifac2014workshop.html" target="_blank">The Beauty of Feedback Control</a>" workshop for high school students and teachers, held in conjunction with the <a href="http://www.ifac2014.org/" target="_blank">19th World Congress of IFAC</a>, Cape Town, South Africa. <br />
          <br />
          <strong>June 3, 2014.</strong><br />
          Assisted with "<a href="http://www.math.ku.edu/ksacg/workshops/ACC_2014/acc2014workshop.html" target="_blank">The Beauty of Controls</a>" workshop for middle and high school students and teachers, held in conjunction with the <a href="http://a2c2.org/conferences/acc2014/" target="_blank">2014 American Control Conference (ACC 2014)</a>, Portland, OR. <br />
          <br />
          <strong>April 8, April 9, and April 23, 2014.</strong><br />
          Coordinated the "Students + Workshops = Success + Fun" workshops for 5th grade students from the <a href="http://www.math.ku.edu/ksacg/MAM/2014/workshop_04-08-14.html" target="_blank">Auburn Washburn Math Focus Group (April 8)</a>, <a href="http://www.math.ku.edu/ksacg/MAM/2014/workshop_04-09-14.html" target="_blank">Broken Arrow Elementary School (April 9)</a>, and <a href="http://www.math.ku.edu/ksacg/MAM/2014/workshop_04-23-14.html" target="_blank">Hillcrest Elementary School (April 23)</a>, held in conjunction with <a href="http://www.mathaware.org/mam/2014/" target="_blank">Mathematics Awareness Month</a>, Lawrence, KS. <br />
          <br />
          <strong>June 19, 2013.</strong><br />
          Assisted with the "<a href="http://www.math.ku.edu/ksacg/special_sessions/ACC_2013_Workshops/acc2013history_of_Workshops.html" target="_blank">Special Session on the History of Workshops for Middle and High School Students And Teachers: Ideas and Technology of Control Systems</a>," held in conjunction with the <a href="http://a2c2.org/conferences/acc2013/" target="_blank">2013 American Control Conference (ACC 2013)</a>, Washingon, D.C. <br />
          <br />
          <strong>June 18, 2013.</strong><br />
          Assisted with the "<a href="http://www.math.ku.edu/ksacg/special_sessions/ACC_2013_WiC/acc2013history_of_WiC.html" target="_blank">Special Session on the History of Women in Control</a>," held in conjunction with the <a href="http://a2c2.org/conferences/acc2013/" target="_blank">2013 American Control Conference (ACC 2013)</a>, Washingon, D.C. <br />
          <br />
          <strong>June 17, 2013.</strong><br />
          Assisted with "<a href="http://www.math.ku.edu/ksacg/workshops/ACC_2013/acc2013workshop.html" target="_blank">The Beauty of Controls</a>" workshop for middle and high school students and teachers, held in conjunction with the <a href="http://a2c2.org/conferences/acc2013/" target="_blank">2013 American Control Conference (ACC 2013)</a>, Washingon, D.C. <br />
          <br />
          <strong>April 10 and April 16, 2013.</strong><br />
            Coordinated the  "Students + Workshops = Success + Fun" workshops for 5th grade students from <a href="http://www.math.ku.edu/ksacg/MAM/2013/workshop_04-10-13.html" target="_blank">Schwegler Elementary School (April 10)</a> and the <a href="http://www.math.ku.edu/ksacg/MAM/2013/workshop_04-16-13.html" target="_blank">Auburn Washburn Math Focus Group (April 16)</a>, held in conjunction with <a href="http://www.mathaware.org/mam/2013/" target="_blank">Mathematics Awareness Month</a>, Lawrence, KS. <br />
           <br />
          <strong>February 12, 2013. </strong><br />
          Gave a talk on "<a href="Bishop_Seabury_Academy/Mathematics_a_Global_Science.pptx">Mathematics: a Global Science</a>" to 6th and 7th grade students  at <a href="http://www.seaburyacademy.org/" target="_blank">Bishop Seabury Academy</a>, Lawrence, KS. <br />
          <br />
          <strong>December 12, 2012.</strong><br />
          Assisted with  "<a href="http://www.math.ku.edu/ksacg/workshops/CDC_2012/cdc2012workshop.html" target="_blank">The Ideas and Technology of Control Systems</a>" workshop for middle and high school students and teachers, held in conjunction with the <a href="http://control.disp.uniroma2.it/cdc2012/" target="_blank">51st IEEE Conference on Decision and Control</a>, Maui, HI. [<a href="http://www.youtube.com/watch?feature=player_embedded&v=d3Xbp9ESorQ" target="_blank">video</a>] <br />
          <br />
		  <strong>April 11 and April 18, 2012</strong><br />
		  Organized the "Let's Sample!" activity, held in conjunction with <a href="http://www.mathaware.org/mam/2012/" target="_blank">Mathematics Awareness Month</a> as part of the "Students + Workshops = Success + Fun" workshops for 5th grade students from Hillcrest Elementary School (April 11) and Quail Run Elementary School (April 18), Lawrence, KS.
        </div>
      </td>
      <td width="230" align="right" valign="top">
        <div style="width:180px;" class="floatingBox">
          {% include sidebar.html %}
        </div>
	  </td>
    </tr>
  </table>
</div><!--end main -->