<div id="interiorTitle">
<div id="interiorTitleContent">
<table width="960" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><h1><a {% if page.coursenav == nil %}class="subheaderActive"{% endif %} href="/academics/teaching/2013/fall/math121/">Math 121: Fall 2013</a></h1></td>
    <td id="interiorTitleMenu">
    <a href="/academics/teaching/2013/fall/math121/files/2013fa121syllabus.pdf" target="_blank">Syllabus</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
    <a href="/academics/teaching/2013/fall/math121/files/2013fa121notes.pdf" target="_blank">Notes</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
    <a {% if page.coursenav == "pol" %}class="subheaderActive"{% endif %} href="/academics/teaching/2013/fall/math121/policies.html">Policies</a> &nbsp;&nbsp;|&nbsp;&nbsp;     
    <a {% if page.coursenav == "ass" %}class="subheaderActive"{% endif %} href="/academics/teaching/2013/fall/math121/assignments.html">Assignments</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
    <a href="https://courseware.ku.edu/" target="_blank">Blackboard</a>
    </td>
  </tr>
</table>
</div><!--end interiorTitleContent -->
</div><!--end interiorTitle -->

<div id="subheaderBottom"></div>