<div id="sidebar">

	<h3>Instructor Information:</h3>
	<br />
	<p><strong>Cody E. Clifton</strong>
		<br>
		<br>
		GTA / GRA
		<br />
		<br />
		<a href="http://www.ku.edu/" target="_blank">The University of Kansas</a> <br />
		<a href="http://www.math.ku.edu/" target="_blank">Department of Mathematics</a>
		<br />
		<br />
		405 Snow Hall <br />
		1460 Jayhawk Blvd <br />
		Lawrence,  KS  66045-7594 
		<br />
		<br />
		<strong>Office</strong>: 543 Snow Hall <br />
		<strong>Hours</strong>: MWF 10 - 11 a.m. <br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; or by appointment
		<br />
		<br />
		<strong>Email</strong>: <a href="mailto:cclifton@math.ku.edu"> cclifton@math.ku.edu</a>
		<br />
		<br />
	</p>
</div>