<div style="width:200px;" class="floatingBox">
	<h3>News:</h3>
	<br />
	<strong>April 21, 2015.</strong>
	<ul>
		<li>Presented with the KU Math Dept. John Bunce Memorial Award.</li>
	</ul>
	<br />
	<strong>April 20, 2015.</strong>
	<ul>
		<li>Received Honors for defense of Ph.D. dissertation on &quot;A Stochastic System Model for PageRank: Parameter Estimation and Adaptive Control.&quot;</li>
	</ul>
	<br />
	<strong>March 3, 2015.</strong>
	<ul>
		<li><a href="http://www.math.ku.edu/news/2015/03/03-cody-clifton-math-matters-award.html" target="_blank">Announced as Third Place winner of the SIAM &quot;Math Matters, Apply It!&quot; contest</a>.</li>
	</ul>
	<br />
	<strong>April 22, 2014.</strong>
	<ul>
		<li>Received the KU Math Dept. Florence Black Award for Excellence in Teaching.</li>
	</ul>

        <!-- old news
        
        <br />
        <strong>December 2, 2013.</strong>
        <ul>
          <li>Became President of the newly-formed KU <a href="http://www.ams.org/programs/studentchapters" target="_blank">Graduate Student Chapter of the AMS</a>.</li>
        </ul>       
        <br />
        <strong>April 15, 2013.</strong>
        <ul>
          <li><a href="http://www.news.ku.edu/2013/04/25/ku-honors-outstanding-graduate-students" target="_blank">Announced as one of two recipients of the 2013 Outstanding Graduate Teaching Assistant award at KU</a>.</li>
          <br />
        </ul>
        <br />
        <strong>April 16, 2013.</strong>
        <ul>
          <li>Received Honors for defense of M.A. thesis on &quot;Numerical Methods for Parameter Estimation in Stochastic Systems.&quot;</li>
        </ul> 
        
    -->

    <br>
</div>