<div style="width:400px;" class="floatingBox">
	<h3>Recent Events:</h3>
	<br />
	<strong>July 8 - 10, 2015.</strong>
	<ul>
		<li>Invited talk on "<a href="http://meetings.siam.org/sess/dsp_talk.cfm?p=71534" target="_blank">Parameter Estimation in a Stochastic System Model for PageRank</a>" (July 9), as part of the <a href="http://meetings.siam.org/sess/dsp_programsess.cfm?SESSIONCODE=21200" target="_blank">Minisymposium on Stochastic Systems and Applications</a> at the <a href="http://www.siam.org/meetings/ct15/" target="_blank">SIAM Conference on Control and Its Applications (CT15)</a>, Paris, France.</li>
	</ul>
	<br />
	<strong>June 29 - July 3, 2015.</strong>
	<ul>
		<li>Invited talk on "<a href="http://ifip2015.inria.fr/contributed/CP16_Clifton_MS14-3.pdf" target="_blank">Identification in a Stochastic PageRank Model</a>" (June 30), as part of the <a href="http://ifip2015.inria.fr/symposia_MS14.html" target="_blank">Minisymposium on Inversion, Estimation and Control of Uncertain Distributed Dynamical Systems</a> at the <a href="http://ifip2015.inria.fr/" target="_blank">27th IFIP TC7 Conference on System Modelling and Optimization</a>, Sophia Antipolis, France.</li>
	</ul>
	<br />
	<strong>April 30 - May 2, 2015.</strong>
	<ul>
		<li><a href="http://www.math.ku.edu/conferences/2015/M2C2/" target="_blank">Midwest Mathematics and Climate Conference</a>, Lawrence, KS.</li>
	</ul>
	<br />
	<strong>April 15 and April 22, 2015.</strong>
	<ul>
		<li>"Students + Workshops = Success + Fun" workshops for 5th grade students from <a href="http://www.math.ku.edu/ksacg/MAM/2015/workshop_04-15-15.html" target="_blank">Broken Arrow Elementary School (April 15)</a> and <a href="http://www.math.ku.edu/ksacg/MAM/2015/workshop_04-22-15.html" target="_blank"> Cordley Elementary School (April 22)</a>, held in conjunction with <a href="http://www.mathaware.org/mam/2015/" target="_blank">Mathematics Awareness Month</a>, Lawrence, KS. </li>
	</ul>
	
        <!-- old recent events
        
        <br />
        <strong>April 20, 2015.</strong>
          <ul>
            <li><em>A Stochastic System Model for PageRank: Parameter Estimation and Adaptive Control</em>, Final Oral Examination for the Ph.D. degree.</li>
          </ul>
        <br />
        <strong>March 6, 2015.</strong>
          <ul>
            <li><em>Introduction to PageRank</em>, KU Mathematics Graduate Student Seminar talk.</li>
          </ul>
          <br />
        <strong>January 13 - 15, 2015.</strong>
          <ul>
            <li><a href="https://sadp.ku.edu/tech-trek-2015" target="_blank">Tech Trek 2015</a>, Silicon Valley, CA.</li>
          </ul>
        <br />
        <strong>November 19, 2014.</strong>
          <ul>
            <li><a href="academics/education/PhD Oral Comp Exam Annoucement - Clifton.pdf" target="_blank"><em>PageRank & System Identification</em></a>, Comprehensive Oral Examination for the Ph.D. degree.</li>
          </ul>
        <br />
        <strong>June 4 - 6, 2014.</strong>
          <ul>
            <li><a href="http://a2c2.org/conferences/acc2014/" target="_blank">2014 American Control Conference</a>, Portland, OR.
          </ul>
        </li>
        </ul>
        <br />
        <strong>June 3, 2014.</strong>
          <ul>
            <li>"<a href="http://www.math.ku.edu/ksacg/workshops/ACC_2014/acc2014workshop.html" target="_blank">The Beauty of Controls</a>" workshop for middle and high school students and teachers, held in conjunction with the <a href="http://a2c2.org/conferences/acc2014/" target="_blank">2014 American Control Conference</a>, Portland, OR.
        </li>
        </ul>
        <br />
        <strong>April 29, 2014.</strong>
          <ul>
            <li><a href="academics/outreach/IMA_report/IMA_Apr14_report.pptx">Report on the IMA Special Workshop on "Careers and Opportunities in Industry for Mathematical Scientists</a>" at a joint meeting of the <a href="http://www.math.ku.edu/studentorgs/gso/" target="_blank">Math GSO</a> and the <a href="http://www.math.ku.edu/~awm/" target="_blank">AWM student chapter</a>, Lawrence, KS. </li>
        </ul>
        <br />
        <strong>April 18 - 19, 2014.</strong>
          <ul>
            <li><a href="http://math.ku.edu/conferences/2014/KUCAM/" target="_blank">KU Computational and Applied Mathematics Workshop</a>, Lawrence, KS.
        </li>
        </ul>
        <br />
        <strong>April 8, April 9, and April 23, 2014.</strong>
        <ul>
          <li>"Students + Workshops = Success + Fun" workshops for 5th grade students from the <a href="http://www.math.ku.edu/ksacg/MAM/2014/workshop_04-08-14.html" target="_blank">Auburn Washburn Math Focus Group (April 8)</a>, <a href="http://www.math.ku.edu/ksacg/MAM/2014/workshop_04-09-14.html" target="_blank">Broken Arrow Elementary School (April 9)</a>, and <a href="http://www.math.ku.edu/ksacg/MAM/2014/workshop_04-23-14.html" target="_blank">Hillcrest Elementary School (April 23)</a>, held in conjunction with <a href="http://www.mathaware.org/mam/2014/" target="_blank">Mathematics Awareness Month</a>, Lawrence, KS. </li>
        </ul>
        <br />
        <strong>April 7 - 9, 2014.</strong>
        <ul>
          <li>IMA Special Workshop on "<a href="http://www.ima.umn.edu/2013-2014/SW4.7-9.14" target="_blank">Careers and Opportunities in Industry for Mathematical Scientists</a>," University of Minnesota, Minneapolis, MN.</li>
        </ul>
        <br />
        <strong>June 17 - 19, 2013.</strong>
        <ul>
              <li><a href="http://a2c2.org/conferences/acc2013/" target="_blank">2013 American Control Conference</a>, Washingon, D.C.<br />
              <ul>
                <li>&quot;<a href="http://www.math.ku.edu/ksacg/workshops/ACC_2013/acc2013workshop.html" target="_blank">The Beauty of Controls</a>&quot; workshop for middle and high school students and teachers, June 17.</li>
                <li>&quot;<a href="http://www.math.ku.edu/ksacg/special_sessions/ACC_2013_WiC/acc2013history_of_WiC.html" target="_blank">Special Session on the History of Women in Control</a>,&quot; June 18.</li>
                <li>&quot;<a href="http://www.math.ku.edu/ksacg/special_sessions/ACC_2013_Workshops/acc2013history_of_Workshops.html" target="_blank">Special Session on the History of Workshops for Middle and High School Students And Teachers: Ideas and Technology of Control Systems</a>,&quot;
  June 19.</li>
          </ul>
        </li>
        </ul>
        <br />
        <strong>April 10 and April 16, 2013.</strong>
      <ul>
          <li>"Students + Workshops = Success + Fun" workshops for 5th grade students from <a href="http://www.math.ku.edu/ksacg/MAM/2013/workshop_04-10-13.html" target="_blank">Schwegler Elementary School (April 10)</a> and the <a href="http://www.math.ku.edu/ksacg/MAM/2013/workshop_04-16-13.html" target="_blank">Auburn Washburn Math Focus Group (April 16)</a>, held in conjunction with <a href="http://www.mathaware.org/mam/2013/" target="_blank">Mathematics Awareness Month</a>, Lawrence, KS. </li>
        </ul>
        <br />
        <strong>February 12, 2013.</strong>
      <ul>
              <li>Gave a talk on "<a href="academics/outreach/Bishop_Seabury_Academy/Mathematics_a_Global_Science.pptx">Mathematics: a Global Science</a>" to 6th and 7th grade students at <a href="http://www.seaburyacademy.org/" target="_blank">Bishop Seabury Academy</a>, Lawrence, KS.</li>
        </ul>
        <br />
        <strong>December 12, 2012.</strong>
  <ul>
              <li>&quot;<a href="http://www.math.ku.edu/ksacg/workshops/CDC_2012/cdc2012workshop.html" target="_blank">The Ideas and Technology of Control Systems</a>" workshop for middle and high school students and teachers, held in conjunction with the <a href="http://control.disp.uniroma2.it/cdc2012/" target="_blank">51st IEEE Conference on Decision and Control</a>, Maui, HI. [<a href="http://www.youtube.com/watch?feature=player_embedded&v=d3Xbp9ESorQ" target="_blank">video</a>]</li>
        </ul>
        <br />
    <strong>April 11 and 18, 2012.</strong>
      <ul> 
          <li>"Let's Sample!" activity, held in conjunction with <a href="http://www.mathaware.org/mam/2013/" target="_blank">Mathematics Awareness Month</a> as part of the "Students + Workshops = Success + Fun" workshops for 5th grade students from Hillcrest Elementary School (April 11) and Quail Run Elementary School (April 16), Lawrence, KS. </li>
        </ul>
        <br />
        
    -->

    <br />
</div>